@keyframes ldio-rdsft45x7se {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loader {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ldio-rdsft45x7se div {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 10px solid #4a6d59;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-rdsft45x7se div {
  animation: ldio-rdsft45x7se 1s linear infinite;
  top: 50px;
  left: 50px;
}
.loadingio-spinner-rolling-u75mc4epkss {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-rdsft45x7se {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-rdsft45x7se div {
  box-sizing: content-box;
}
